extends ../layouts/default

block intro
    .section.section-nude
        .container
            .row
                .col-lg-12.col-md-12.col-sm-12.col-xs-12
                    .title-container(style="display: flex; align-items: center; margin: 16px 0;")
                        span.glyphicon.glyphicon-book(style="font-size: 24px;")
                        h2(style="margin-left: 32px; margin: 0 0 0 16px;") Что?
                    p 
                        | Лингвоэкологический проект «Красная книга русского языка» нацелен на привлечение общего внимания к тем исконным словам, которые часто бывают незаслуженно забыты. 
                        | Речь идёт вовсе не об устаревших единицах типа нужа, лествица, токмо. Главная задача проекта – защитить редкие слова нашего обихода, которые мы обычно не вспоминаем в своей речевой практике и обходимся наиболее частотными лексическими единицами.
                        | Как и в любом процессе саморазвития, требуются сознательные шаги по расширению словарного запаса. Наш проект в системном виде предлагает всем интернет-пользователям познакомиться с сотнями редких, но важных русских слов и открыть для себя возможности расширения собственного лексикона.
                    p Язык – это среда нашего культурного обитания. Его тоже надо защищать, оберегать, сохранять, чтобы язык не угас, не превратился в набор безликих штампов. Само название – «Красная книга» – говорит о потребности спасти от речевого забвения целые пласты удивительных русских слов.
    .section.section-nude
        .container
            .row
                .col-lg-12.col-md-12.col-sm-12.col-xs-12
                    .title-container(style="display: flex; align-items: center; margin: 16px 0;")
                        span.glyphicon.glyphicon-floppy-saved(style="font-size: 24px;")
                        h2(style="margin-left: 32px; margin: 0 0 0 16px;") Как?
                    p 
                        | Вниманию пользователей, в сущности, предлагается готовый медиапродукт. Зайдя на наш сайт, вы сможете обнаружить лексикон расположенных в алфавитном порядке слов, которые нечасто встречаются в практике речевого употребления.
                        | Каждое слово сопровождается толкованием его лексического значения. Кроме того, в словаре приводятся примеры использования данных слов в речи. Любой пытливый и мотивированный к саморазвитию носитель языка может принять во внимание все предложенные единицы и постепенно включать их в свой как активный, так и пассивный словарный запас.
                    p Любой желающий может скачать в магазине Google Play Market по #[a(href='https://play.google.com/store/apps/details?id=one.kloud.rusbook') ссылке] бесплатное приложение , которое способствует развитию индивидуальной речи.
                    p 
                        | На сайте «Красная книга русского языка» можно также найти занимательные тесты, благодаря которым каждый желающий может проверить степень своей осведомлённости в лексической сфере русского языка.
                        | В блоке «Конкурс» представлены видеоролики, созданные в основном школьниками и студентами в рамках проходившего осенью 2017 года лингвоэкологического состязания в формате видеоблогинга. Каждый участник конкурса выступил в публичной роли защитника конкретного редкого слова русского языка.
                    p Материалы сайта удобны как для индивидуального пользования, так и для дополнительного обучения в образовательном пространстве.
    .section.section-nude
        .container
            .row
                .col-lg-12.col-md-12.col-sm-12.col-xs-12
                    .title-container(style="display: flex; align-items: center; margin: 16px 0;")
                        span.glyphicon.glyphicon-user(style="font-size: 24px;")
                        h2(style="margin-left: 32px; margin: 0 0 0 16px;") Кто?
                    p Вдохновителями и организаторами проекта «Красная книга русского языка» стали преподаватели и сотрудники кафедры русского языка, литературы и журналистики Марийского государственного университета (руководитель коллектива – доктор филологических наук, профессор Карташова Е.П.). Отбором, систематизацией, первичным анкетированием и научным исследованием лексических ресурсов в данном случае занимались профессиональные филологи с учёными степенями.
                    p Обоснованием идеологии технического сопровождения проекта и созданием нашего сайта занимались специалисты группы компаний «Дигт-телеком», имеющей современную материально-техническую базу и значительный профессиональный опыт в сфере IT-технологий. 
                    p Мы получили отклик и поддержку на практике педагогов, учёных, общественных деятелей, студентов, школьников, которые охотно и живо отозвались на наш призыв защитить исконные средства русского языка от исчезновения. В состав нашей команды, собственно, входят все, кто решит принять участие в нашем проекте, и в этом понимании состав нашей команды поистине бесконечен.
                    p Знакомьтесь с нашим словарём, пополняйте свой лексический запас, проверяйте  знания в формате теста, пользуйтесь приложением. Будьте ответственными и неравнодушными носителями русского языка!
    .section.section-nude
        .container
            .row
                .col-lg-12.col-md-12.col-sm-12.col-xs-12
                    .title-container(style="display: flex; align-items: center; margin: 16px 0;")
                        span(style="height: 35px; width: 37px;")
                            img(src="/images/logo-abris.png" style="height: 100%; width: 100%; ")
                        h2(style="margin-left: 32px; margin: 0 0 0 16px;") Книгирь
                    p В качестве эмблемы проекта «Красная книга русского языка» был выбран Книгирь – редчайшая птица, похожая на снегиря (создатель образа – К. Кондратьев). Его крылья напоминают страницы раскрытой книги. Красный цвет птицы напоминает всем нам об экологической бдительности. Тем более что сам снегирь внесён в «Красную книгу» и нуждается в защите.
                    p Книгирь символизирует редкие, исчезающие филологические явления, к которым следует отнестись с вниманием и любовью. Это в первую очередь слова и выражения, требующие возвращения их в активное речевое употребление. Образ Книгиря одновременно должен вызывать симпатию и напоминать о важности бережного отношения к русскому языку.
    .section.section-nude.text-center
        .container
            .row
                .col-lg-12.col-md-12.col-sm-12.col-xs-12
                        img(src="/images/logo-flat.png")
                        h2 Красная книга русского языка

block content
    //- .container
        .row
            if enquirySubmitted
                h3 Thanks for getting in touch.
            else
                .container(style="display: flex;align-items: center;flex-direction: column;")
                    .row(style="background-color: #fff; padding: 16px; border-radius: 4px; box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);    transition: all 0.3s cubic-bezier(.25,.8,.25,1);min-width: 628px;margin: 16px 0 32px 0;")
                        form(method='post')
                            legend(style="font-size: 32px;") Свяжитесь с нами
                            .form-group(class=validationErrors.name ? 'has-error' : null)
                                label Имя
                                span(style="color: #BA0000; font-family: Verdana; font-size: 16px; font-weight: bold;") *
                                input(type='text', name='name.full', value=formData['name.full'], placeholder='Введите имя').form-control
                            .form-group(class=validationErrors.email ? 'has-error' : null)
                                label Email
                                span(style="color: #BA0000; font-family: Verdana; font-size: 16px; font-weight: bold;") *
                                input(type='email', name='email', value=formData.email, placeholder='Введите электронный адрес').form-control
                            .form-group
                                label Телефон
                                input(type='text', name='phone', value=formData.phone, placeholder='Введите ваш телефон').form-control
                            .form-group(class=validationErrors.enquiryType ? 'has-error' : null)
                                label По какой причине вы решили нам написать?
                                span(style="color: #BA0000; font-family: Verdana; font-size: 16px; font-weight: bold;") *
                                select(name='enquiryType').form-control
                                    option(value='') (Выберите вариант)
                                    each type in enquiryTypes
                                        option(value=type.value, selected=formData.enquiryType == type.value)= type.label
                            .form-group(class=validationErrors.message ? 'has-error' : null)
                                label Комментарий
                                span(style="color: #BA0000; font-family: Verdana; font-size: 16px; font-weight: bold;") *
                                textarea(name='message', placeholder='Введите текст сообщения...' rows=4).form-control= formData.message
                            .form-actions
                                button(type='submit').btn.btn-primary Send